.App{
  position: relative;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  background: rgb(10, 209, 10);
  color: rgb(237, 237, 237);
  position: sticky;
  top: 0;
  z-index: 10;
}
.header .logo{
  height: 65px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header .logo h2{
  text-transform: uppercase;
}
.header .logo h2:hover{
  color: #FFF;
}
.header .navbar{
  height: 65px;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header .navbar .link{
  color: rgb(237, 237, 237);
  font-weight: bolder;
  height: 40px;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bolder;
   display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: all .3s ease;
}
.header .navbar .link:hover{
  color: #FFF;
  background: rgba(17, 175, 17, 0.832);
  transform: translateY(-2px);
}
.carouselClass{
  position: relative;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carouselClass .arrow{
  position: absolute;
  top:35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 50px;
  font-size: 60px;
  font-weight: bolder;
  cursor: pointer;
  color: #FFF;
  transition: all .3s ease-in-out;
}
.carouselClass .arrow p{
  background: rgba(14, 13, 13, 0.297);
  position: relative;
  height: 60px;
  display: flex;
  align-items: flex-end;
  width: 60px;
  border-radius: 10px;
  justify-content: space-around;
  transition: all .4s ease-in-out;
}
.carouselClass .arrow p:hover{
  background: rgba(14, 13, 13, 0.585);
}
.carouselClass .prev{
  left: 10px;
}
.carouselClass .next{
  right: 10px;
}
.carouselClass img{
  margin-top: 20px;
  height: 80vh;
  cursor: pointer;
}
.createCV{
  background: rgb(8, 220, 51);
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ebe9e9;
  transform: translateX(44vw);
  margin: 10px;
  border-radius: 3px;
  font-weight: bold;
}
.createCV:hover{
  background:rgb(8, 165, 39) ;
  color:#fff;
}
.footer{
  background: rgb(10, 209, 10);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-weight: bolder;
}
/* contact*/
.contact{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.contact .contactText{
  color:rgb(9, 209, 9)
}
.contact .contact-input{
  min-height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 10px;
  box-shadow: 8px 10px 15px rgba(182, 181, 181, 0.766),-8px -10px 15px rgba(176, 175, 175, 0.772);
}
.contact .contact-input .contact-div{
  height: 50px;
  width: 450px;
  position: relative;
  margin: 20px 10px;
}
.contact .contact-input .contact-div .cont-spac{
  min-height: 50px;
  width: 450px;
  outline: none;
  padding: 5px 10px;
  font-size: 24px;
  border-radius: 5px;
  border:  2px solid lightgrey;
  z-index: 1;
}
.contact .contact-input .contact-div span{
  position: absolute;
  top: 10px;
  padding: 0px 10px;
  left: 10px;
  color: rgb(147, 144, 144);
  background: #fff;
  z-index: -20;
  transition: all .2s ease;
} 
.contact .contact-input .contact-div .cont-spac:focus ~ span{
  top:-10px;
  transform: scale(0.8);
  z-index: 1;
  border-left:  2px solid lightgrey;
  border-right:  2px solid lightgrey;
}
.contact .cont-spac::placeholder{
  display: block;
  font-size: 16px;
  color: rgb(179, 177, 177);
}
.contact .cont-spac:focus::placeholder{
  /* display: none; */
  font-size: 0px !important;
}
.contact .texta{
  height: 100px !important;
}
.contactSubmit{
  background: rgb(8, 220, 51);
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-top: 40px;
  border-radius: 3px;
  position: absolute;
  right:0px;
  font-weight: bold;
}
.contactSubmit:hover{
  background:rgb(8, 165, 39) ;
}
/* sign up */
.signup{
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.signup .signText{
  transform: translateX(-180px) translateY(-20px);
  color:rgb(9, 209, 9)
}
.signup .signup-input{
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 15px 10px;
  box-shadow: 8px 10px 15px rgba(182, 181, 181, 0.766),-8px -10px 15px rgba(176, 175, 175, 0.772);
}
.signup .signup-input .signup-div{
  height: 50px;
  width: 450px;
  position: relative;
  margin: 20px 10px;
}
.signup .signup-input .signup-div .cont-spac{
  min-height: 50px;
  width: 450px;
  outline: none;
  padding: 5px 10px;
  font-size: 24px;
  border-radius: 5px;
  border:  2px solid lightgrey;
  z-index: 1;
}
.signup .signup-input .signup-div span{
  position: absolute;
  top: 10px;
  padding: 0px 10px;
  left: 10px;
  color: rgb(146, 143, 143);
  background: #fff;
  z-index: -20;
  transition: all .2s ease;
} 
.signup .signup-input .signup-div .cont-spac:focus ~ span{
  top:-10px;
  transform: scale(0.8);
  z-index: 1;
  border-left:  2px solid lightgrey;
  border-right:  2px solid lightgrey;
}
.signup .cont-spac::placeholder{
  display: block;
  font-size: 16px;
  color: rgb(179, 177, 177);
}
.signup .cont-spac:focus::placeholder{
  /* display: none; */
  font-size: 0px !important;
}
.signup .texta{
  height: 100px !important;
}
.signupSubmit{
  background: rgb(8, 220, 51);
  padding: 10px 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
  border-radius: 3px;
  position: absolute;
  right:0px;
  font-weight: bold;
}
.signupSubmit:hover{
  background:rgb(8, 165, 39) ;
}
/* resume create */
.createResume{
  min-height: 150vh;
  padding: 40px 25px;
  display: flex;
  justify-content: center;
}
.createResume .createInput{
  padding: 10px 15px;
  min-height: 100vh;
  width: 80%;
  border-radius: 10px;
  box-shadow: 6px 10px 17px rgba(158, 157, 157, 0.775),
              -6px -10px 17px rgba(158, 157, 157, 0.775);
}
.createResume .createInput .inpMedia{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.createResume .createInput .inpMedia .media{
  position: relative;
  height: 45px;
}
.createInput .inpMedia .media .mediainp{
  width: 22.5vw;
  z-index: 0;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 2px solid lightgrey;
  font-size: 20px;
  padding: 5px 10px;
}
.createInput .inpMedia .media span{
  position: absolute;
  left: 10px;
  color: rgb(147, 144, 144);
  top: 10px;
  padding: 0px 10px;
  height: min-content;
  font-size: 15px;
  z-index: -1;
  transition: all .3s ease-in;
}
.createInput .inpMedia .media .mediainp:focus ~ span{
  top:-10px;
  z-index: 1;
  transform: scale(.9);
  left: 10px;
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
  background-color: #FFF;
}
.inpMedia .media .mediainp::placeholder{
  display: block;
  font-size: 16px;
  color: rgb(147, 144, 144);
}
.inpMedia .media .mediainp:focus::placeholder{
  /* display: none; */
  font-size: 0px !important;
}
.createInput .head{
  color: rgb(7, 207, 7);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 20px;
}
.createResume .summary{
  width:72vw !important;
}
.createResume .tele{
  width: 35vw !important;
}
.createInput .heading{
  color: rgb(153, 150, 150);
  margin-left: 10px;
  position: relative;
}
.createInput .heading::after{
  content: '';
  height: 2px;
  /* position:absolute; */
  display: inline;
  margin: 5px 10px;
  background: rgb(185, 182, 182);
  width: 100px;
}
.createResume .division{
  border: 1px solid lightgray !important;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding:10px !important;
}
hr{
  border: 2px solid lightgrey;
  margin: 0px 15px;
  border-radius: 2px;
}
.createResume .skills{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}